<div class="bread-crumb">
  <div class="container p-4" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page"><b>Đăng nhập tài khoản</b></li>
    </ol>
  </div>
</div>

<section class="mt-5">
  <div class="container">
    <h1 class="text-center h1 mb-3">ĐĂNG NHẬP TÀI KHOẢN</h1>
    <p>Chúng tôi sẽ gửi cho bạn một email để kích hoạt việc đặt lại mật khẩu.</p>
    <!-- Đăng nhập bằng MXH -->
    <div class="d-flex justify-content-center gap-2 mb-3">
      <a href="#" class="d-flex">
        <img src="//bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg" alt="Facebook Login" width="129" height="37" />
      </a>
      <a href="#" class="d-flex">
        <img src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg" alt="Google Login" width="129" height="37" />
      </a>
    </div>
    <form action="" class="p-4">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input type="email" class="form-control" id="email" name="email" required />
      </div>

      <!-- Nút Đăng nhập và Điều hướng -->
      <div class="d-flex align-items-center">
        <div>
          <button style="background: #da1919; color: white; margin-right: 3px" type="submit" class="btn">Gửi</button>
        </div>
        <span> Hoặc </span>
        <a routerLink="/login" type="button" class="btn">hủy</a>
      </div>
    </form>
  </div>
</section>
