<div class="bread-crumb">
  <div class="container p-4" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page"><b>shop</b></li>
    </ol>
  </div>
</div>

<div class="container mt-3">
  <section class="row">
    <div class="col-md-3 d-none d-md-block container">
      <h2 class="h2 h2-title">BỘ lọc sản phẩm</h2>
      <p>Lọc giá</p>
      <hr class="my-4 dashed-hr" />
      <div class="">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="priceFilters.under100k" (change)="onFilterChange()" id="price1" />
          <label
            class="form-check-label"
            [class.text-danger]="priceFilters.under100k"
            [class.fw-bold]="priceFilters.under100k"
            for="price1"
          >
            Giá dưới 100.000đ
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="priceFilters.from100kTo200k"
            (change)="onFilterChange()"
            id="price2"
          />
          <label
            class="form-check-label"
            [class.text-danger]="priceFilters.from100kTo200k"
            [class.fw-bold]="priceFilters.from100kTo200k"
            for="price2"
          >
            100.000đ - 200.000đ
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="priceFilters.from200kTo500k"
            (change)="onFilterChange()"
            id="price3"
          />
          <label
            class="form-check-label"
            [class.text-danger]="priceFilters.from200kTo500k"
            [class.fw-bold]="priceFilters.from200kTo500k"
            for="price3"
          >
            200.000đ - 500.000đ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="priceFilters.from500kTo1M" (change)="onFilterChange()" id="price4" />
          <label
            class="form-check-label"
            [class.text-danger]="priceFilters.from500kTo1M"
            [class.fw-bold]="priceFilters.from500kTo1M"
            for="price4"
          >
            500.000đ - 1.000.000đ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="priceFilters.from1MTo2M" (change)="onFilterChange()" id="price5" />
          <label
            class="form-check-label"
            [class.text-danger]="priceFilters.from1MTo2M"
            [class.fw-bold]="priceFilters.from1MTo2M"
            for="price5"
          >
            1.000.000đ - 2.000.000đ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="priceFilters.above2M" (change)="onFilterChange()" id="price6" />
          <label class="form-check-label" [class.text-danger]="priceFilters.above2M" [class.fw-bold]="priceFilters.above2M" for="price6">
            Giá trên 2.000.000đ
          </label>
        </div>
      </div>
      <p>Loại</p>
      <hr class="my-4 dashed-hr" />
      <div class="">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="typeFilters.type1" (change)="onFilterChange()" id="type1" />
          <label class="form-check-label" [class.text-danger]="typeFilters.type1" [class.fw-bold]="typeFilters.type1" for="type1">
            Loại 1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="typeFilters.type2" (change)="onFilterChange()" id="type2" />
          <label class="form-check-label" [class.text-danger]="typeFilters.type2" [class.fw-bold]="typeFilters.type2" for="type2">
            Loại 2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="typeFilters.type3" (change)="onFilterChange()" id="type3" />
          <label class="form-check-label" [class.text-danger]="typeFilters.type3" [class.fw-bold]="typeFilters.type3" for="type3">
            Loại 3
          </label>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-9">
      <div class="d-flex align-items-center flex-wrap gap-2">
        <strong class="me-2">Xếp theo:</strong>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortDefault"
            value="default"
          />
          <label class="form-check-label" for="sortDefault">Mặc định</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortAZ"
            value="az"
          />
          <label class="form-check-label" for="sortAZ">Tên A-Z</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortZA"
            value="za"
          />
          <label class="form-check-label" for="sortZA">Tên Z-A</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortNew"
            value="new"
          />
          <label class="form-check-label" for="sortNew">Hàng mới</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortPriceAsc"
            value="price_asc"
          />
          <label class="form-check-label" for="sortPriceAsc">Giá thấp đến cao</label>
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="sortOption"
            [(ngModel)]="sortOption"
            (change)="onSortChange()"
            id="sortPriceDesc"
            value="price_desc"
          />
          <label class="form-check-label" for="sortPriceDesc">Giá cao xuống thấp</label>
        </div>
      </div>

      <div class="row">
        <!-- Sản phẩm -->
        <div *ngFor="let product of paginatedProducts" class="col-12 col-md-6 col-lg-3 mb-4">
          <div class="text-center">
            <img [src]="'http://localhost:8080' + product.image" class="img-fluid" [alt]="product.name" />
            <h6 class="mt-2 text-danger">{{ product.name }}</h6>
            <div class="d-flex justify-content-between align-items-center">
              <p class="text-primary fw-bold mb-0">{{ product.price }}₫</p>
              <a (click)="addToCart(product)" class="cursor-pointer">
                <img src="content/images/cart/cart-828282.svg" width="30px" alt="Giỏ hàng" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Phân trang -->
      <div class="margin-auto">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center custom-pagination">
            <!-- Trang trước -->
            <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
              <a class="page-link rounded-circle" href="#" (click)="setPage(currentPage - 1); $event.preventDefault()" aria-label="Previous"
                >&laquo;</a
              >
            </li>

            <!-- Các trang -->
            <li class="page-item" *ngFor="let page of [].constructor(getTotalPages()); let i = index">
              <a
                class="page-link rounded-circle"
                href="#"
                [ngClass]="{ active: currentPage === i + 1 }"
                (click)="setPage(i + 1); $event.preventDefault()"
              >
                {{ i + 1 }}
              </a>
            </li>

            <!-- Trang sau -->
            <li class="page-item" [ngClass]="{ disabled: currentPage === getTotalPages() }">
              <a class="page-link rounded-circle" href="#" (click)="setPage(currentPage + 1); $event.preventDefault()" aria-label="Next"
                >&raquo;</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</div>
