<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <h4 class="clicked">CÔNG TY CPĐT THẾ GIỚI SỮA</h4>
        <div class="mt-2">
          <p><b>MST</b> : 0106933743</p>
          <p>Do Sở Kế Hoạch và Đầu Tư Thành Phố Hà Nội cấp ngày 12/08/2015</p>
          <p><b>Địa chỉ</b>: Số 17 Ngõ 84 Phố Ngọc Khánh - Phường Giảng Võ - Quận Ba Đình - Hà Nội.</p>
          <p><b>Hotline</b>: 0986777514-1900636605</p>
          <p><b>Email</b>: cskh&#64;thegioisua.com</p>
        </div>
      </div>
      <div class="footer-col">
        <h4 class="clicked">HƯỚNG DẪN</h4>
        <ul class="mt-2">
          <li><a href="#">Hướng dẫn mua hàng</a></li>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
          <li><a href="#">Hướng dẫn nhận hàng</a></li>
          <li class="flex justify-center align-center mt-1">
            <a href=""><img class="icon" src="content/images/facebook.svg" alt="Ảnh mẫu" /></a>
            <a href=""><img class="icon" src="content/images/instagram.svg" alt="" /></a>
            <a href=""><img class="icon" src="content/images/twitter.svg" alt="" /></a>
            <a href=""><img class="icon" src="content/images/youtube.svg" alt="" /></a>
            <a href=""><img class="icon" src="content/images/zalo.svg" alt="" /></a>
          </li>
          <li><img class="bct-logo" src="content/images/logo_bct.webp" alt="" /></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="clicked">CHÍNH SÁCH</h4>
        <ul class="mt-2">
          <li><a href="#">Chính sách vận chuyển</a></li>
          <li><a href="#">Chính sách bảo mật thông tin</a></li>
          <li><a href="#">Chính sách đổi hàng & bảo hành</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4 class="clicked">VỀ THẾ GIỚI SỮA</h4>
        <ul class="mt-2">
          <li><a href="">Giới thiệu Thế Giới Sữa</a></li>
          <li><a href="">Hệ thống cửa hàng</a></li>
          <li><a href="">Tuyển dụng</a></li>
          <li><a href="">Liên hệ</a></li>
        </ul>
      </div>
    </div>
    <div class="mt-2 text-center text-white">&#64; Bản quyền thuộc về <b>thegioisua.com</b></div>
    <div class="mt-1 text-center">
      <a href="#" style="color: #6fa7dd" class="text-decoration-none fw-bold h6">Trang sức kim cương</a>
    </div>
  </div>
</footer>
