<nav class="navbar navbar-expand-lg navbar-dark d-none d-md-block">
  <div class="container text-size-container">
    <div class="hover-0 position-relative cursor parent-item-1" href="#">
      <div class="parent-item-1">
        <svg
          width="15px"
          viewBox="0 0 1024 1024"
          class="icon"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          stroke="#ffffff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M64 192h896v76.8H64V192z m0 281.6h896v76.8H64V473.6z m0 281.6h896V832H64v-76.8z" fill="#ffffff"></path>
          </g>
        </svg>
        <span class="text-size-container">GỢI Ý BA MẸ</span>
      </div>

      <ul class="list-group hover-1 position-absolute childen-item">
        <li class="list-group-item">An item</li>
        <li class="list-group-item parent-2">A second item ></li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item parent-2">A fourth item ></li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <div style="" class="position-absolute size-to">
        <div class="p-4 row">
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
          <div class="col-md-4"><a class="text-decoration-none" href="">ban doan xem la gi nao</a></div>
        </div>
      </div>
    </div>
    <!-- Menu chính -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle parent-item" href="#" id="suaMenu">SỮA CHO MỌI NHÀ</a>
          <ul class="dropdown-menu child-parent" aria-labelledby="suaMenu">
            <li><a class="dropdown-item" href="#">Sữa Bột</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Sinh Học</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Nhập Khẩu</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Pha Sẵn</a></li>
            <li><a class="dropdown-item" href="#">Sữa Cho Mẹ Bầu</a></li>
            <li><a class="dropdown-item" href="#">Sữa Người Cao Tuổi</a></li>
            <li><a class="dropdown-item" href="#">Sữa Tươi</a></li>
            <li><a class="dropdown-item" href="#">Sữa Chua</a></li>
            <li><a class="dropdown-item" href="#">Sữa Đặc & Sữa Đậu Nành</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle parent-item" href="#">THỰC PHẨM DINH DƯỠNG</a>
          <ul class="dropdown-menu child-parent parent-ul">
            <li><a class="dropdown-item" href="#">Sản phẩm A</a></li>
            <li><a class="dropdown-item" href="#">Sản phẩm B</a></li>
            <li><a class="dropdown-item" href="#">Sản phẩm B</a></li>
            <li><a class="dropdown-item" href="#">Sản phẩm B</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle parent-item" href="#">TÃ & BỈM</a>
          <ul class="dropdown-menu child-parent">
            <li><a class="dropdown-item" href="#">Bỉm Trẻ Em</a></li>
            <li><a class="dropdown-item" href="#">Tã Người Lớn</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle parent-item" href="#">ĐỒ DÙNG MẸ & BÉ</a>
          <ul class="dropdown-menu child-parent">
            <li><a class="dropdown-item" href="#">Bỉm Trẻ Em</a></li>
            <li><a class="dropdown-item" href="#">Tã Người Lớn</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="#">HỆ THỐNG CỬA HÀNG</a></li>
        <li class="nav-item"><a class="nav-link" href="#">TIN TỨC</a></li>
      </ul>
    </div>
  </div>
</nav>
