<nav class="navbar navbar-expand-lg navbar-dark d-none d-md-block">
  <div class="container text-size-container">
    <!-- Logo -->
    <a class="navbar-brand" href="#"> <i class="fas fa-bars"></i> <span class="text-size-container">GỢI Ý BA MẸ</span> </a>

    <!-- Menu chính -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="suaMenu">SỮA CHO MỌI NHÀ</a>
          <ul class="dropdown-menu" aria-labelledby="suaMenu">
            <li><a class="dropdown-item" href="#">Sữa Bột</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Sinh Học</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Nhập Khẩu</a></li>
            <li><a class="dropdown-item" href="#">Sữa Bột Pha Sẵn</a></li>
            <li><a class="dropdown-item" href="#">Sữa Cho Mẹ Bầu</a></li>
            <li><a class="dropdown-item" href="#">Sữa Người Cao Tuổi</a></li>
            <li><a class="dropdown-item" href="#">Sữa Tươi</a></li>
            <li><a class="dropdown-item" href="#">Sữa Chua</a></li>
            <li><a class="dropdown-item" href="#">Sữa Đặc & Sữa Đậu Nành</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">THỰC PHẨM DINH DƯỠNG</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sản phẩm A</a></li>
            <li><a class="dropdown-item" href="#">Sản phẩm B</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">TÃ & BỈM</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bỉm Trẻ Em</a></li>
            <li><a class="dropdown-item" href="#">Tã Người Lớn</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#">ĐỒ DÙNG MẸ & BÉ</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Bỉm Trẻ Em</a></li>
            <li><a class="dropdown-item" href="#">Tã Người Lớn</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="#">HỆ THỐNG CỬA HÀNG</a></li>
        <li class="nav-item"><a class="nav-link" href="#">TIN TỨC</a></li>
      </ul>
    </div>
  </div>
</nav>
