/* Hover mở dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Định dạng menu */
.navbar-nav .nav-link {
  color: white;
  //  font-weight: bold;
}

.navbar {
  background-color: #da1919;
}

.dropdown-menu {
  border-radius: 0;
}

.text-size-container {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}
