<div class="contact-fixed">
  <a href="tel:0123456789" class="contact-icon bg-light phone">
    <span class="ripple"></span>
    <img src="content/images/icon-fix/phone.svg" alt="Call" />
  </a>

  <a href="https://zalo.me/your-id" target="_blank" class="contact-icon zalo">
    <img src="content/images/icon-fix/stick_zalo.png" alt="Zalo" />
  </a>
  <a href="https://m.me/your-id" target="_blank" class="contact-icon messenger">
    <img src="content/images/icon-fix/messenger.svg" alt="Messenger" />
  </a>
</div>
