<!-- src/main/webapp/app/layouts/login/login.component.html -->
<div class="bread-crumb">
  <div class="container p-4" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page"><b>Đăng nhập tài khoản</b></li>
    </ol>
  </div>
</div>

<section class="mt-5">
  <div class="container">
    <h1 class="text-center h1 mb-3">ĐĂNG NHẬP TÀI KHOẢN</h1>
    <p class="text-center p">Nếu bạn có một tài khoản, xin vui lòng đăng nhập</p>

    <!-- Form Đăng nhập -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" enctype="multipart/form-data" class="p-4">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input type="email" formControlName="email" name="email" class="form-control" id="email" required />
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger">Email là bắt buộc.</div>
      </div>

      <!-- Mật khẩu -->
      <div class="mb-3">
        <label for="password" class="form-label">Mật khẩu *</label>
        <input type="password" formControlName="password" name="password" class="form-control" id="password" required />
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger">
          Mật khẩu là bắt buộc.
        </div>
      </div>

      <!-- Nút Đăng nhập và Điều hướng -->
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button style="background: #da1919; color: white" type="submit" class="btn">Đăng nhập</button>
          <a routerLink="/forgot-password" class="text-decoration-none text-black">Mất mật khẩu?</a>
        </div>
        <a routerLink="/register" style="background: #da1919; color: white" type="button" class="btn">Đăng ký</a>
      </div>
    </form>
  </div>
</section>
