<div class="container header text-center mt-3 mb-3">
  <div class="row align-items-center">
    <!-- Logo -->
    <div class="col-lg-3 col-12 logo-wrapper">
      <a href="/">
        <img
          class="img-responsive lazyload loaded"
          src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo.png?1744969171405"
          data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo.png?1744969171405"
          alt="logo"
          data-was-processed="true"
        />
      </a>
    </div>

    <!-- Main header content -->
    <div class="col-lg-9 col-12">
      <div class="header-group-action d-flex align-items-center justify-content-end gap-3">
        <!-- Mobile Menu (hamburger icon) -->
        <a
          class="mobile-menu red-background p-2 d-flex align-items-center gap-2 d-lg-none"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
        >
          <div href="">
            <svg
              width="15px"
              viewBox="0 0 1024 1024"
              class="icon"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              fill="#ffffff"
              stroke="#ffffff"
            >
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M64 192h896v76.8H64V192z m0 281.6h896v76.8H64V473.6z m0 281.6h896V832H64v-76.8z" fill="#ffffff"></path>
              </g>
            </svg>
          </div>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <!--  body canvas -->
          <div class="auth-offcanvas w-100 d-flex">
            <a class="border p-3 w-100 text-decoration-none"> Dang nhap </a>
            <a class="border p-3 w-100 text-decoration-none"> Dang ki </a>
          </div>
        </div>

        <!-- Search Form -->
        <div class="header_search search_form">
          <form class="input-group search-bar search_form d-flex position-relative w-100">
            <input type="search" name="query" placeholder="Tìm kiếm..." class="change_pl input-group-field search-text w-100" />
            <span class="input-group-btn">
              <button class="btn position-absolute btn-search" type="submit">
                <img width="25px" src="./content/images/search.svg" alt="" />
              </button>
            </span>
          </form>
        </div>
        <!--don hang-->
        <div class="d-flex align-items-center gap-2 d-none d-lg-block">
          <a href="/apps/kiem-tra-don-hang" class="d-flex align-items-center text-decoration-none">
            <div class="circle-icon d-flex align-items-center justify-content-center">
              <img src="content/images/bill.svg" alt="Đơn hàng" />
            </div>
            <div class="ms-2">
              <p class="order-text mb-0">Theo dõi<br />đơn hàng</p>
            </div>
          </a>
        </div>
        <!--don hang-->
        <div class="taikhoancanhan d-flex align-items-center gap-2 d-none d-lg-block">
          <div class="dropdown">
            <!-- Link tài khoản cá nhân, khi nhấn vào sẽ mở dropdown -->
            <a
              href="#"
              class="d-flex align-items-center text-decoration-none"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="circle-icon d-flex align-items-center justify-content-center">
                <img src="content/images/account.svg" alt="Đơn hàng" />
              </div>
              <div class="ms-2">
                <p class="order-text mb-0">tài khoản<br />cá nhân</p>
              </div>
            </a>
            <!-- Dropdown menu, hiện khi nhấn vào tài khoản cá nhân -->
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <a class="dropdown-item" href="#">{{ userloading.firstname }} {{ userloading.lastname }}</a>
              </li>
              <li><a class="dropdown-item" href="#">Đơn hàng</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" [routerLink]="'/login'">Đăng nhập</a></li>
              <li><a class="dropdown-item" [routerLink]="'/register'">Đăng kí</a></li>
              <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
            </ul>
          </div>
        </div>

        <div class="d-flex gap-2">
          <a href="" class="d-flex align-items-center position-relative">
            <div class="circle-icon d-flex align-items-center justify-content-center">
              <img src="content/images/cart.svg" alt="Đơn hàng" />
            </div>
            <div
              class="position-absolute number translate-middle bg-primary text-white rounded-circle d-flex justify-content-center align-items-center"
              style="width: 20px; height: 20px; font-size: 12px"
            >
              0
            </div>
          </a>
        </div>
      </div>
      <!-- /.header-group-action -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>

<div class="menu-mobile position-fixed bottom-0 p-2 z-3 w-100 d-flex justify-content-around d-xl-none d-block">
  <a class="item-2 text-center text-decoration-none d-block">
    <img src="https://bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo_mb.png?1744969171405" width="20px" alt="" />
    <p>Trang chu</p>
  </a>
  <a class="item-2 text-center text-decoration-none d-block">
    <img src="https://bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo_mb.png?1744969171405" width="20px" alt="" />
    <p>Trang chu</p>
  </a>
  <a class="item-2 text-center text-decoration-none d-block">
    <img src="https://bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo_mb.png?1744969171405" width="20px" alt="" />
    <p>Trang chu</p>
  </a>
  <a class="item-2 text-center text-decoration-none d-block">
    <img src="https://bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo_mb.png?1744969171405" width="20px" alt="" />
    <p>Trang chu</p>
  </a>
  <a class="item-2 text-center text-decoration-none d-block">
    <img src="https://bizweb.dktcdn.net/100/416/540/themes/839121/assets/logo_mb.png?1744969171405" width="20px" alt="" />
    <p>Trang chu</p>
  </a>
</div>
