<nav class="container py-3">
  <div class="d-flex align-items-center justify-content-between">
    <!-- Nút Toggle menu -->
    <button class="d-md-none btn btn-danger rounded-circle toggle-menu" type="button">
      <img src="content/images/menu.svg" style="height: 20px" alt="Menu" />
    </button>

    <!-- Logo -->
    <div>
      <a href="#">
        <img src="content/images/logomain.webp" style="height: 35px" alt="Logo" />
      </a>
    </div>

    <!-- Thanh tìm kiếm -->
    <form class="search-container d-flex align-items-center w-100 position-relative" action="#" method="get">
      <input
        type="search"
        name="query"
        class="form-control search-input rounded-pill border border-danger px-3"
        placeholder="Tìm kiếm..."
        aria-label="Tìm kiếm"
      />
      <button class="btn btn-danger rounded-circle position-absolute end-0 h-100" type="submit">
        <img src="content/images/search.svg" style="height: 20px" alt="Tìm kiếm" />
      </button>
    </form>

    <!-- Icon điều hướng -->
    <div class="d-flex justify-content-between align-items-center gap-3">
      <a href="/" class="d-flex align-items-center text-decoration-none d-none d-md-flex">
        <div
          class="bg-init-red text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px"
        >
          <img src="content/images/bill.svg" style="height: 20px" alt="Theo dõi đơn hàng" />
        </div>
        <div class="ms-2 text-dark">
          <div>Theo dõi</div>
          <div>đơn hàng</div>
        </div>
      </a>
      <div
        href=""
        class="nav-link dropdown-toggle"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        class="d-flex align-items-center text-decoration-none d-none d-md-flex"
      >
        <div
          class="bg-init-red text-white rounded-circle d-flex align-items-center justify-content-center"
          style="width: 40px; height: 40px"
        >
          <img src="content/images/account.svg" style="height: 20px" alt="Tài khoản của bạn" />
        </div>
        <div class="ms-2 text-dark">
          <div>Tài khoản</div>
          <div>của bạn</div>
        </div>
        <ul class="dropdown-menu p-2">
          <a class="btn btn-danger w-100 mb-2" (click)="goToLogin()">Login</a>
          <a class="btn btn-danger w-100" (click)="goToRegister()">Register</a>
        </ul>
      </div>

      <a href="/cart" class="text-center position-relative">
        <div class="icon-circle" style="width: 40px; height: 40px">
          <img src="content/images/cart.svg" style="height: 20px" alt="Giỏ hàng" />
        </div>
        <span class="position-absolute bottom-1 start-100 translate-middle badge bg-primary">0</span>
      </a>
    </div>
  </div>
</nav>
