<section class="banner">
  <div
    id="carouselExampleControlsNoTouching"
    class="carousel slide container d-md-container-fluid w-100"
    data-bs-ride="carousel"
    data-bs-interval="2000"
    data-bs-touch="false"
  >
    <div class="carousel-inner">
      <div *ngFor="let banner of banners; let index = index" class="carousel-item" [class.active]="index === 0">
        <img [src]="'http://localhost:8080' + banner.image_url_banner" class="d-block w-100" [alt]="'Banner ' + banner.id_banner" />
      </div>
    </div>

    <!-- Previous Button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <!-- Next Button -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center py-3 mt-4">
    <a href="#" title="SẢN PHẨM HOT" class="btn hot-btn"> SẢN PHẨM HOT </a>
  </div>
  <!--  ------------------------ swiper 1------------------------------- -->
  <!-- Swiper Container -->
  <div class="swiper product-slider container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let product of cartItems">
        <div
          class="rounded w-100 border border-1 border-dashed p-3 d-flex flex-column flex-md-row justify-content-between align-items-center"
        >
          <!-- Ảnh: nằm trên khi mobile -->
          <img
            style="max-width: 300px; height: auto"
            [src]="product.image"
            [alt]="product.name"
            class="product-image order-1 order-md-2 mb-3 mb-md-0"
          />

          <!-- Thông tin: nằm dưới khi mobile -->
          <div class="d-flex flex-column text-center text-md-start order-2 order-md-1">
            <a href="#" class="product-title">{{ product.name }}</a>
            <span class="product-price">{{ product.price }}đ</span>
            <span class="product-description">{{ product.descriptsion }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Nút điều hướng Swiper -->
    <div class="swiper-button-next carousel-control-prev"></div>
    <div class="swiper-button-prev carousel-control-next"></div>
  </div>

  <!--  ---------------------------end swiper 1---------------------------- -->

  <div class="d-flex justify-content-center align-items-center py-3 mt-4">
    <a href="#" title="Mẹ Cần Tìm Gì" class="btn hot-btn"> MẸ CẦN TÌM GÌ? </a>
  </div>

  <!--  ---------------------------swiper 2------------------------------------------->
  <div class="swiper for-slider container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let sua of cartItems_SUA">
        <a href="{{ sua.url }}" class="image d-flex flex-column align-items-center text-decoration-none">
          <img height="60px" [src]="sua.image" style="width: 5rem" alt="sua" />
          <p class="sua-title">{{ sua.name }}</p>
        </a>
      </div>
    </div>

    <!-- Nút điều hướng Swiper -->
    <div class="swiper-button-next carousel-control-prev"></div>
    <div class="swiper-button-prev carousel-control-next"></div>
  </div>

  <!--  --------------------------end swiper 2---------------------------------------->

  <!--  ------------------------------------------------------>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-xl-2 col-12 block-title-cate">
        <div class="box-title-left">
          <h2 class="h2-element-left" style="content: '1' !important">
            <a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a>
          </h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a class="d-xl-block d-none" href="">cho be 0-6 thang</a>
          <a class="d-xl-block d-none" href="">cho be 6-12 thang</a>
          <a class="d-xl-block d-none" href="">cho be tren 1 tuoi</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap gap-1">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of productss">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="'http://localhost:8080' + product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.name }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img
                    (click)="addToCart(product)"
                    style="width: 20px !important; cursor: pointer"
                    src="content/images/cart/cart-828282.svg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 order-xl-3 col-12 block-title-cate">
        <div class="box-title-right">
          <h2 class="h2-element-right" style="content: '2' !important">
            <a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a>
          </h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a class="d-xl-block d-none" href="">cho be 0-6 thang</a>
          <a class="d-xl-block d-none" href="">cho be 6-12 thang</a>
          <a class="d-xl-block d-none" href="">cho be tren 1 tuoi</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap gap-1">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 order-xl-1 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--          ----------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 col-12 block-title-cate">
        <div class="box-title-left">
          <h2 class="h2-element-left" style="content: '3' !important">
            <a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a>
          </h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a class="d-xl-block d-none" href="">cho be 0-6 thang</a>
          <a class="d-xl-block d-none" href="">cho be 6-12 thang</a>
          <a class="d-xl-block d-none" href="">cho be tren 1 tuoi</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap gap-1">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--          ----------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 order-xl-3 col-12 block-title-cate">
        <div class="box-title-right">
          <h2 class="h2-element-right" style="content: '4' !important">
            <a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a>
          </h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a class="d-xl-block d-none" href="">cho be 0-6 thang</a>
          <a class="d-xl-block d-none" href="">cho be 6-12 thang</a>
          <a class="d-xl-block d-none" href="">cho be tren 1 tuoi</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
          <a class="d-xl-block d-none" href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap gap-1">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 order-xl-1 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------------->
      </div>
    </div>

    <!--    ------------------ banner thu 3------------------------->

    <div class="row mt-4">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 banner-1">
        <div class="banner">
          <img class="mb-2" style="max-width: 100%" src="content/images/banner_childen/img_banner_1.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 banner-1">
        <div class="banner">
          <img class="mb-2" style="max-width: 100%" src="content/images/banner_childen/img_banner_1.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 banner-1">
        <div class="banner">
          <img class="mb-2" style="max-width: 100%" src="content/images/banner_childen/img_banner_1.jpg" alt="" />
        </div>
      </div>
    </div>
    <!---------------------------------------------------------------------------------------->
    <div class="d-flex justify-content-center align-items-center py-3 mt-4">
      <a href="#" title="Kinh nghiệm cho mẹ" class="btn hot-btn"> Kinh nghiệm cho mẹ </a>
    </div>
  </div>
  <!--  ------------------------------------------------------------------------------------>

  <div class="container mt-4">
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12 col-12 module-big">
        <div class="blog-content position-relative">
          <div class="day position-absolute day-new">
            <span class="dd">26</span> <br />
            <span>T 03</span>
          </div>
          <img
            style="max-width: 100%; border-radius: 50px"
            src="https://bizweb.dktcdn.net/100/416/540/articles/thumnail-top-10-sua-bot-cho-tre-2-tuoi-phat-trien-toan-dien.jpg?v=1742980017280"
            alt=""
          />
          <a href="#" class="title">Top 10 Sữa Bột Cho Trẻ 2 Tuổi Phát Triển Toàn Diện</a>
          <div class="d-flex gap-2 item-comment mt-2">
            <span>0 Bình luận</span> |
            <img class="icon-image" width="15px" src="content/images/tintuc/icon-tintuc.svg" alt="icon svg" />
            <span>Khang MKT</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 module-small">
        <div class="block-content">
          <div class="block-content d-flex flex-column gap-2">
            <!-- Blog Item Start -->
            <div class="d-flex gap-4">
              <div class="blog-img position-relative">
                <a
                  href="/nguoi-cao-tuoi-nen-chon-sua-gi-7-loai-sua-tot-cho-nguoi-gia"
                  title="Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già"
                >
                  <img
                    class="img-responsive lazyload loaded w-100"
                    src="https://bizweb.dktcdn.net/100/416/540/articles/thumnail-nguoi-cao-tuoi-nen-chon-sua-gi.jpg?v=1742878117753"
                    alt="Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già"
                  />
                </a>
                <div class="day d-md-block d-none z-3 position-absolute day-new">
                  <span class="dd">25</span> <br />
                  <span>T 03</span>
                </div>
              </div>
              <div class="blog-content">
                <h3>
                  <a href="/nguoi-cao-tuoi-nen-chon-sua-gi-7-loai-sua-tot-cho-nguoi-gia">
                    Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già
                  </a>
                </h3>
                <div class="justify des">
                  Sữa là nguồn dinh dưỡng quan trọng giúp người cao tuổi duy trì sức khỏe, hỗ trợ hệ xương chắc khỏe và tăng cường sức ...
                </div>
                <div class="cmt-author d-none d-xl-block">
                  <span>0 Bình luận</span> |
                  <span>
                    <img class="icon-image" width="15px" src="content/images/tintuc/icon-tintuc.svg" alt="icon svg" />
                    Khang MKT
                  </span>
                </div>
              </div>
            </div>
            <!-- Blog Item End -->
            <!-- Blog Item Start -->
            <div class="d-flex gap-4">
              <div class="blog-img position-relative">
                <a
                  href="/nguoi-cao-tuoi-nen-chon-sua-gi-7-loai-sua-tot-cho-nguoi-gia"
                  title="Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già"
                >
                  <img
                    class="img-responsive lazyload loaded w-100"
                    src="https://bizweb.dktcdn.net/100/416/540/articles/thumnail-nguoi-cao-tuoi-nen-chon-sua-gi.jpg?v=1742878117753"
                    alt="Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già"
                  />
                </a>
                <div class="day d-md-block d-none z-3 position-absolute day-new">
                  <span class="dd">25</span> <br />
                  <span>T 03</span>
                </div>
              </div>
              <div class="blog-content">
                <h3>
                  <a href="/nguoi-cao-tuoi-nen-chon-sua-gi-7-loai-sua-tot-cho-nguoi-gia">
                    Người Cao Tuổi Nên Chọn Sữa Gì? 7 Loại Sữa Tốt Cho Người Già
                  </a>
                </h3>
                <div class="justify des">
                  Sữa là nguồn dinh dưỡng quan trọng giúp người cao tuổi duy trì sức khỏe, hỗ trợ hệ xương chắc khỏe và tăng cường sức ...
                </div>
                <div class="cmt-author">
                  <span>0 Bình luận</span> |
                  <span>
                    <img class="icon-image" width="15px" src="content/images/tintuc/icon-tintuc.svg" alt="icon svg" />
                    Khang MKT
                  </span>
                </div>
              </div>
            </div>
            <!-- Blog Item End -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
