<section class="banner">
  <div
    id="carouselExampleControlsNoTouching"
    class="carousel slide container d-md-container-fluid w-100"
    data-bs-ride="carousel"
    data-bs-interval="2000"
    data-bs-touch="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="content/images/banner/slide-img1.webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="content/images/banner/slide-img2.webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="content/images/banner/slide-img4.webp" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="content/images/banner/slide-img5.webp" class="d-block w-100" alt="..." />
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="d-flex justify-content-center align-items-center py-3 mt-4">
    <a href="#" title="SẢN PHẨM HOT" class="btn hot-btn"> SẢN PHẨM HOT </a>
  </div>
  <!--  ------------------------ swiper 1------------------------------- -->
  <!-- Swiper Container -->
  <div class="swiper product-slider container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let product of cartItems">
        <div
          class="rounded w-100 border border-1 border-dashed p-3 d-flex flex-column flex-md-row justify-content-between align-items-center"
        >
          <!-- Ảnh: nằm trên khi mobile -->
          <img
            style="max-width: 300px; height: auto"
            [src]="product.image"
            [alt]="product.name"
            class="product-image order-1 order-md-2 mb-3 mb-md-0"
          />

          <!-- Thông tin: nằm dưới khi mobile -->
          <div class="d-flex flex-column text-center text-md-start order-2 order-md-1">
            <a href="#" class="product-title">{{ product.name }}</a>
            <span class="product-price">{{ product.price }}đ</span>
            <span class="product-description">{{ product.descriptsion }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Nút điều hướng Swiper -->
    <div class="swiper-button-next carousel-control-prev"></div>
    <div class="swiper-button-prev carousel-control-next"></div>
  </div>

  <!--  ---------------------------end swiper 1---------------------------- -->

  <div class="d-flex justify-content-center align-items-center py-3 mt-4">
    <a href="#" title="Mẹ Cần Tìm Gì" class="btn hot-btn"> MẸ CẦN TÌM GÌ? </a>
  </div>

  <!--  ---------------------------swiper 2------------------------------------------->
  <div class="swiper for-slider container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let sua of cartItems_SUA">
        <a href="{{ sua.url }}" class="image d-flex flex-column align-items-center text-decoration-none">
          <img height="60px" [src]="sua.image" style="width: 5rem" alt="sua" />
          <p class="sua-title">{{ sua.name }}</p>
        </a>
      </div>
    </div>

    <!-- Nút điều hướng Swiper -->
    <div class="swiper-button-next carousel-control-prev"></div>
    <div class="swiper-button-prev carousel-control-next"></div>
  </div>

  <!--  --------------------------end swiper 2---------------------------------------->

  <!--  ------------------------------------------------------>

  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-xl-2 col-12 block-title-cate">
        <div class="box-title">
          <h2><a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a></h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a href="">cho be 0-6 thang</a>
          <a href="">cho be 6-12 thang</a>
          <a href="">cho be tren 1 tuoi</a>
          <a href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--          ----------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 order-xl-3 col-12 block-title-cate">
        <div class="box-title">
          <h2><a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a></h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a href="">cho be 0-6 thang</a>
          <a href="">cho be 6-12 thang</a>
          <a href="">cho be tren 1 tuoi</a>
          <a href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 order-xl-1 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--          ----------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 col-12 block-title-cate">
        <div class="box-title">
          <h2><a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a></h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a href="">cho be 0-6 thang</a>
          <a href="">cho be 6-12 thang</a>
          <a href="">cho be tren 1 tuoi</a>
          <a href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--          ----------------------->
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-2 order-xl-3 col-12 block-title-cate">
        <div class="box-title">
          <h2><a href="sua-bot-sinh-hoc" title="Sữa bột bán chạy"> Sữa bột bán chạy </a></h2>
        </div>
        <div class="btn-more-cate d-xl-none"></div>
        <div class="block-cate d-flex flex-column">
          <a href="">cho be 0-6 thang</a>
          <a href="">cho be 6-12 thang</a>
          <a href="">cho be tren 1 tuoi</a>
          <a href="">Xem tat ca</a>
        </div>
        <div class="block-vendor d-flex flex-wrap">
          <a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            /> </a
          ><a href="#">
            <img
              class="image-branch m-1"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
          <a href="#">
            <img
              class="image-branch"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/product_1_vendor_1.jpg?1744084012349"
              alt="anh-branch-1"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-3 order-xl-2 col-lg-4 col-md-4 col-12 block-banner">
        <div class="banner">
          <a href="https://thegioisua.com/bimbosan-stage" title="Bimbosan">
            <img
              style="width: 100%"
              class="img-responsive lazyload loaded rounded"
              src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              data-src="//bizweb.dktcdn.net/100/416/540/themes/839121/assets/img_product_banner_1.jpg?1744084012349"
              alt="Bimbosan"
              data-was-processed="true"
            />
          </a>
        </div>
      </div>
      <div class="col-xl-7 order-xl-1 col-lg-8 col-md-8 col-12 block-product">
        <!--        swipper 3 product -->
        <div class="swiper product-2-3 container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="rounded w-100 d-flex flex-column">
                <!-- Ảnh -->
                <img [src]="product.image" [alt]="product.title" class="product-image w-100" />
                <!-- Thông tin -->
                <a [href]="product.url" style="color: #3867ad" class="product-title fw-bold text-decoration-none mb-2">
                  {{ product.title }}
                </a>
                <div class="d-flex justify-content-between">
                  <span style="color: #fe6f32" class="product-price fw-semibold">{{ product.price | number }}đ</span>
                  <img style="width: 20px !important" src="content/images/cart/cart-828282.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--          ----------------------->
      </div>
    </div>
    <!--    ------------------------------------------->
    <div class="d-flex justify-content-center align-items-center py-3 mt-4">
      <a href="#" title="Kinh nghiệm cho mẹ" class="btn hot-btn"> Kinh nghiệm cho mẹ </a>
    </div>
  </div>
</section>
